<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>
<form action="/added" method="post">
  <input type="text" name="bookmark_url" placeholder="Add URL">
  <input type="submit" value="Add">
</form>

