<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
     <a href="<%= bookmark.url %>"
      <%= bookmark.title %>
     </a>
    </li>
  <% end %>
</ul>

<form action="/added" method="post">
  <input type="text" name="bookmark_title" placeholder="Add title"/>
  <input type="text" name="bookmark_url" placeholder="Add URL"/>
  <input type="submit" value="Add">
</form>

